<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqcet.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.cqcet.entity.Article">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
        <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="type_id" jdbcType="INTEGER" property="typeId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="college_id" jdbcType="VARCHAR" property="collegeId"/>
        <result column="alias" jdbcType="VARCHAR" property="alias"/>
        <result column="name" property="name"/>
        <result column="username" property="username"/>
        <result column="avatar" property="avatar"/>
        <result column="college_name" property="collegeName"/>
    </resultMap>

    <!-- 根据条件查询所有帖子 -->
    <select id="list" resultMap="BaseResultMap">
        SELECT
        ai.id,
        ai.type_id,
        ai.title,
        ai.status,
        ai.cover,
        ai.content,
        ai.view_count,
        ai.user_id,
        ai.update_time,
        ti.name,
        ui.username,
        info.avatar as avatar,
        ci.name as collegeName
        FROM
        article ai,
        type ti,
        user ui,
        user_info info,
        college_info ci
        WHERE
        ai.user_id = ui.id
        AND
        ai.type_id = ti.id
        AND
        info.user_id = ui.id
        AND
        ai.college_id = ci.id

        <if test="status!=null and status!=''">AND ai.status=#{status}</if>
        <if test="typeId!=null and typeId!=''">AND ai.type_id=#{typeId}</if>
        <if test="keyWord!=null and keyWord!=''">AND ai.title LIKE #{keyWord}</if>
        <if test="username!=null and username!=''">AND ui.username LIKE #{username}</if>
        <if test="userId!=null and userId!=''">AND ai.user_id = #{userId}</if>
        <if test="collegeId!=null and collegeId!=''">AND ai.college_id = #{collegeId}</if>
        <if test="alias!=null and alias!=''">AND ai.alias = #{alias}</if>
        ORDER BY
        ai.update_time DESC
    </select>

    <!-- 根据条件查询最新帖子 -->
    <select id="list_newest" resultMap="BaseResultMap">
        SELECT
        ai.id,
        ai.type_id,
        ai.title,
        ai.cover,
        ai.content,
        ai.view_count,
        ai.user_id,
        ai.update_time,
        ti.name,
        ui.username
        FROM
        article ai,
        type ti,
        user ui
        WHERE
        ai.user_id = ui.id
        AND
        ai.type_id = ti.id

        <if test="status!=null and status!=''">AND ai.status=#{status}</if>
        <if test="typeId!=null and typeId!=''">AND ai.type_id=#{typeId}</if>
        <if test="keyWord!=null and keyWord!=''">AND ai.title LIKE #{keyWord}</if>
        <if test="userId!=null and userId!=''">AND ai.user_id = #{userId}</if>
        <if test="collegeId!=null and collegeId!=''">AND ai.college_id = #{collegeId}</if>
        ORDER BY
        ai.update_time DESC
        LIMIT 5
    </select>

    <!-- 更新帖子浏览量 -->
    <update id="updateViewCount">
        UPDATE article
        <set>
            <if test="viewCount!=null and viewCount!='' ">view_count=#{viewCount},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据学院id查询该学院下帖子 -->
    <select id="articleByCollegeId" resultMap="BaseResultMap">
        SELECT
        ai.title,
        ai.content,
        ai.cover,
        ai.view_count,
        ai.update_time,
        ai.id,
        ai.user_id,
        ai.type_id,
        ai.college_id,
        ui.avatar AS avatar,
        user.username AS username
        FROM
        article ai,
        user_info ui,
        user
        WHERE
        ai.status = #{status}
        and ai.user_id = ui.user_id
        AND ai.user_id = user.id
        <if test="collegeId!=null and collegeId!=''">AND ai.college_id=#{collegeId}</if>
        ORDER BY
        ai.update_time DESC
    </select>

    <!-- 根据主键查询单个帖子的信息 -->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT
            ai.id,
            ai.type_id,
            ti.name,
            ai.title,
            ai.cover,
            ai.content,
            ai.user_id,
            ai.view_count,
            ai.update_time,
            ui.avatar AS avatar,
            u.username AS username,
            ai.college_id AS collegeId
        FROM
            article ai,
            type ti,
            user u,
            user_info ui
        WHERE
            ai.type_id = ti.id
            AND ai.status = '0'
            AND ai.id = #{id}
            and ai.user_id = ui.user_id
            AND ai.user_id = u.id
    </select>

    <!-- 新增帖子 -->
    <insert id="insert">
        INSERT INTO article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId!=null and typeId!=''">type_id,</if>
            <if test="collegeId!=null and collegeId!=''">college_id,</if>
            <if test="title!=null and title!='' ">title,</if>
            <if test="content!=null and content!=''">content,</if>
            <if test="cover!=null and cover!=''">cover,</if>
            <if test="viewCount!=null and viewCount!='' ">view_count,</if>
            <if test="updateTime!=null and updateTime!=''">update_time,</if>
            <if test="status!=null and status!=''">status,</if>
            <if test="userId!=null and userId!=''">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeId!=null and typeId!=''">#{typeId},</if>
            <if test="collegeId!=null and collegeId!=''">#{collegeId},</if>
            <if test="title!=null and title!=''">#{title},</if>
            <if test="content!=null and content!=''">#{content},</if>
            <if test="cover!=null and cover!=''">#{cover},</if>
            <if test="viewCount!=null and viewCount!=''">#{viewCount},</if>
            <if test="updateTime!=null and updateTime!=''">#{updateTime},</if>
            <if test="status!=null and status!=''">#{status},</if>
            <if test="userId!=null and userId!=''">#{userId},</if>
        </trim>
    </insert>

    <!-- 更新帖子 -->
    <update id="update">
        UPDATE article
        <set>
            <if test="userId!=null and userId!=''">user_id=#{userId},</if>
            <if test="collegeId!=null and collegeId!=''">college_id=#{collegeId},</if>
            <if test="typeId!=null and typeId!=''">type_id=#{typeId},</if>
            <if test="title!=null and title!='' ">title=#{title},</if>
            <if test="content!=null and content!=''">content=#{content},</if>
            <if test="cover!=null and cover!=''">cover=#{cover},</if>
            <if test="viewCount!=null and viewCount!='' ">view_count=#{viewCount},</if>
            <if test="updateTime!=null and updateTime!=''">update_time=#{updateTime},</if>
            <if test="status!=null and status!=''">status=#{status},</if>
        </set>
        WHERE id = #{id}
    </update>



    <!-- 批量移动帖子到某个分类 -->
    <update id="batchUpdate">
        UPDATE article
        <set>
            <if test="typeId!=null and typeId!=''">type_id=#{typeId},</if>
            <if test="status!=null and status!=''">status=#{status},</if>
        </set>
        WHERE id IN
        <foreach collection="idArr" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>


    <!-- 根据文章主键批量删除 -->
    <delete id="batchDelete">
        DELETE FROM article WHERE id IN
        <foreach collection="idArr" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 根据帖子分类 查询帖子的数量 -->
    <select id="countByTypeIdArr" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        article
        WHERE
        status = #{status}
        AND type_id =
        <foreach collection="typeIdArr" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <!-- 根据typeId查询帖子总数 -->
    <select id="countByTypeId" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        article
        WHERE
        status = #{status}
        <if test="typeId!=null and typeId!=''">AND type_id=#{typeId}</if>
        <if test="userId!=null and userId!=''">AND user_id=#{userId}</if>
    </select>

    <!-- 根据学院id查询该学院下帖子的数量 -->
    <select id="countByCollegeId" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        article
        WHERE
        status = #{status}
        <if test="collegeId!=null and collegeId!=''">AND college_id=#{collegeId}</if>
    </select>


    <!-- 批量删除 -->
    <delete id="batchDeleteByTypeIdArr">
        DELETE FROM article WHERE type_id IN
        <foreach collection="typeIdArr" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--查询用户最近的一篇帖子-->
    <select id="selectArticleByUserIdNow" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        article
        WHERE
        user_id = #{userId}
        ORDER BY update_time DESC
        LIMIT 1
    </select>

</mapper>