<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqcet.dao.CollegeMapper">
    <resultMap id="BaseResultMap" type="com.cqcet.entity.College">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sort" jdbcType="VARCHAR" property="sort"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="des" jdbcType="VARCHAR" property="des"/>
    </resultMap>
    <select id="list" resultMap="BaseResultMap">
        SELECT *
        FROM
            college_info
        ORDER BY
            sort
    </select>

    <select id="listById" resultMap="BaseResultMap">
        SELECT
            *
        FROM
        college_info
        WHERE id = #{collegeId}
    </select>

    <!--插入一条新的数据  -->
    <insert id="insert">
        INSERT INTO college_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sort!=null and sort!=''">sort,</if>
            <if test="name!=null and name!=''">name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sort!=null">#{sort},</if>
            <if test="name!=null">#{name},</if>
        </trim>
    </insert>

    <!-- 更新一条数据 -->
    <update id="update">
        UPDATE college_info
        <set>
            <if test="sort!=null and sort!=''">sort=#{sort},</if>
            <if test="name!=null and name!=''">name=#{name},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 批量删除学院 -->
    <delete id="delete">
        DELETE FROM college_info WHERE id IN
        <foreach collection="idArr" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 查询学院的数量 -->
    <select id="countByName" resultType="int">
        SELECT
        COUNT(*)
        FROM
        college_info
        WHERE
        name = #{name}
        <if test="id!=null and id!=''">AND id != #{id}</if>
    </select>

    <!-- 查询学院的id -->
    <select id="idByName" resultType="int">
        SELECT
        id
        FROM
        college_info
        WHERE
        name = #{name}
    </select>

    <!-- 查询学院排序 -->
    <select id="countBySort" resultType="int">
        SELECT
        COUNT(*)
        FROM
        college_info
        WHERE
        sort = #{sort}
        <if test="id!=null and id!=''">AND id != #{id}</if>
    </select>



</mapper>