<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqcet.dao.TypeMapper">
    <resultMap id="BaseResultMap" type="com.cqcet.entity.Type">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sort" jdbcType="VARCHAR" property="sort"/>
        <result column="college_id" jdbcType="VARCHAR" property="collegeId"/>
    </resultMap>
    <select id="list" resultMap="BaseResultMap">
        SELECT *
        FROM
            type
        ORDER BY
            sort
    </select>


    <select id="articleTypeByTypeId" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            type
        WHERE
            id = #{typeId}
    </select>
    <!--根据帖子名称获取帖子id以及学院id-->
    <select id="selectByName" resultMap="BaseResultMap">
        SELECT
            id,
            college_id
        FROM
            type
        WHERE
            name = #{articleName}
    </select>

    <!--插入一条新的数据  -->
    <insert id="insert">
        INSERT INTO type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sort!=null and sort!=''">sort,</if>
            <if test="name!=null and name!=''">name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sort!=null">#{sort},</if>
            <if test="name!=null">#{name},</if>
        </trim>
    </insert>

    <!-- 更新一条数据 -->
    <update id="update">
        UPDATE type
        <set>
            <if test="sort!=null and sort!=''">sort=#{sort},</if>
            <if test="name!=null and name!=''">name=#{name},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 批量删除 -->
    <delete id="delete">
        DELETE FROM type WHERE id IN
        <foreach collection="idArr" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 查询帖子分类的数量，用于校验帖子分类名字重复 -->
    <select id="countByName" resultType="int">
        SELECT
        COUNT(*)
        FROM
        type
        WHERE
        name = #{name}
        <if test="id!=null and id!=''">AND id != #{id}</if>
    </select>

    <!-- 根据学院id查询帖子分类条数 -->
    <select id="countByCollegeId" resultType="int">
        SELECT
        COUNT(*)
        FROM
        type
        WHERE
        <if test="collegeId!=null and collegeId!=''">college_id=#{collegeId}</if>
    </select>

    <!-- 查询帖子分类排序的数量，用于校验帖子分类排序重复 -->
    <select id="countBySort" resultType="int">
        SELECT
        COUNT(*)
        FROM
        type
        WHERE
        sort = #{sort}
        <if test="id!=null and id!=''">AND id != #{id}</if>
    </select>

</mapper>